<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <link rel="stylesheet" href="/css/footerCss.css">

</head>
<body>
<div class="flex-wrapper">

    <div th:insert="~{fragments/header :: header}"></div>
    <div class="content-wrap">

        <div class="container mt-5">
            <h2>유저 관리</h2>
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.userId}">ID</td>
                    <td th:text="${user.username}">Username</td>
                    <td th:text="${user.userEmail}">Email</td>
                    <td>
                        <a th:href="@{/admin/users/{id}/delete(id=${user.userId})}" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure?')">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:insert="~{fragments/footer :: footer}"></div>
</div>
<!-- Optional JavaScript and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>