<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Header</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" th:href="@{/}">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" th:href="@{/temp}">list</a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" href="#" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" th:href="@{/logout}">Logout</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="nav-link" href="#" th:href="@{/admin/dashboard}">Admin</a>
                </li>
                <!-- 프로필 페이지로 이동하는 링크 추가 -->
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="#" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <div sec:authorize="isAuthenticated()">
                        <img src="#"
                             th:src="${profilePath}"
                             alt="Profile Image"
                             class="profile-img"
                             style="width: 30px; height: 30px; border-radius: 30%; object-fit: cover;"
                             onerror="this.onerror=null; this.src='/images/default-profile.jpg';">
                        <span>User: </span>
                        <span class="navbar-text" sec:authentication="name"></span>
                        <!-- 사용자의 역할(권한) 표시 -->
                        <div class="navbar-text">
                            <span>Roles: </span>
                            <span th:each="authority : ${#authentication.authorities}">
                                <span th:if="${authority.authority == 'ROLE_USER'}">일반회원</span>
                                <span th:if="${authority.authority == 'ROLE_ADMIN'}">관리자</span>
                            </span>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
